 *{
    background-color: #ACBAC4;
}
 /* h1{
    font-size: 40px;
    text-align: center;
    color: blueviolet;
    text-shadow: 10px 10px 5px rgb(255 , 170, 0);
}
#para{
    color:#296374; 
}  */

#image{
    width:250px;
    height:300px;
    background-image: url(./image2.jpeg);
    background-repeat: no-repeat;
    border:5px solid burlywood;
}

#image:hover{
    background-image: url(./image1.jpeg);
}
