 *{
    background-color: #ACBAC4;
}
#image{
    width:250px;
    height:300px;
     margin: 50px auto; 
    margin-left: 20px;
    background-image: url(./image2.jpeg);
    background-repeat: no-repeat;
    border:5px solid burlywood;
}

#image:hover{
    background-image: url(./image1.jpeg);
}


